{{> navbar-admin-alt}}
<section class="courses-list2 pb40" style="padding-top: 120px;">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="row courses_list_heading style2">
                    <div class="col-xl-4 p0">
                        <div class="instructor_search_result style2">
                            <p class="mt10 fz15"><span class="color-dark pr10"
                                    style="font-weight: bold;">{{courseList.length}}</span> results</p>
                        </div>
                    </div>
                    <div class="col-xl-8 p0">
                        <div class="candidate_revew_select style2 text-right">
                            <ul class="mb0">
                                <li class="list-inline-item">
                                    <select id="drop-instructor" class="selectpicker show-tick" onchange="filter(this)">
                                        <option data-id="none" selected>All courses</option>
                                        {{#each listInstructors}}
                                            <option data-id="{{this._id}}">{{this.name}}</option>
                                        {{/each}}
                                    </select>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="row courses_container style2">
                    {{#each courseList}}
                        <div class="col-lg-12 p0">
                            <div class="courses_list_content">
                                <div class="top_courses list" onclick="getCourse(this)" data-courseid="{{this._id}}">
                                    <div class="thumb"
                                        style="min-width: 240px; max-width: 240px; min-height: 135px; max-height: 135px;">
                                        <img class="img-whp" src="/images/banner/{{this._id}}.jpg">
                                    </div>
                                    <div class="details" style="width: 100%">
                                        <div class="tc_content">
                                            <p>{{this.instructorID.name}}</p>
                                            <h5>{{this.name}}</h5>
                                            <p>{{this.desc.short}}</p>
                                        </div>
                                        <div class="tc_footer">
                                            <ul class="tc_meta float-left fn-414">
                                                <li class="list-inline-item"><a href="#"><i class="fa fa-user"></i></a>
                                                </li>
                                                <li class="list-inline-item"><a href="#">{{this.enrollCount}}</a>
                                                </li>
                                                <li class="list-inline-item"><a href="#"><i
                                                            class="fa fa-comment"></i></a></li>
                                                <li class="list-inline-item"><a href="#">{{this.feedbackCount}}</a>
                                                </li>
                                                <li class="list-inline-item"><a href="#"><i class="fa fa-star"></i></a>
                                                </li>
                                                <li class="list-inline-item"><a href="#">{{this.averageRate}}</a>
                                                </li>
                                            </ul>
                                        </div>
                                        <ul class="view_edit_delete_list float-right"
                                            style="opacity: 100%; padding-top: 16px;">
                                            {{!-- <li class="list-inline-item" style="background-color:lightskyblue;"><a onclick=""
                                                    data-toggle="tooltip"
                                                    data-placement="top"
                                                    title="Edit course">
                                                    <i class="fa fa-pencil" style="color: white"></i></a>
                                            </li> --}}
                                            {{#if (eqBool this.isEnable false)}}
                                                <li class="list-inline-item" style="background-color:dodgerblue;"
                                                    data-id="{{this._id}}" onclick="UnlockCourse(this)">
                                                    <a data-toggle="tooltip" data-placement="top"
                                                        title="Unlock course"><i class="fa fa-unlock"
                                                            style="color: white"></i></a>
                                                </li>
                                            {{else}}
                                                <li class="list-inline-item" style="background-color: crimson;"
                                                    data-id="{{this._id}}" onclick="LockCourse(this)">
                                                    <a data-toggle="tooltip" data-placement="top" title="Lock course"><i
                                                            class="fa fa-lock" style="color: white"></i></a>
                                                </li>
                                            {{/if}}
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {{/each}}
                </div>
            </div>
        </div>
    </div>
</section>
{{> footer}}
{{#section "js2"}}
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script>
        function LockCourse(element) {
            Warning("Lock this course?", () => {
                const id = jQuery(element).data("id");
                const newData = {
                    id: id,
                    active: false
                }
                $.post("/admin/courses/setActive", newData, function (err, status) {
                    if (err) {
                        DisplayError(err);
                    } else {
                        swal("Lock course successfully!", {
                            icon: "success",
                        }).then((value) => {
                            location.reload();
                        });
                    }
                })
            })
        }
        function UnlockCourse(element) {
            Warning("Unlock this course?", () => {
                const id = jQuery(element).data("id");
                const newData = {
                    id: id,
                    active: true
                }
                $.post("/admin/courses/setActive", newData, function (err, status) {
                    if (err) {
                        DisplayError(err);
                    } else {
                        swal("Unlock course successfully!", {
                            icon: "success",
                        }).then((value) => {
                            location.reload();
                        });
                    }
                })
            })
        }
        function DisplayError(message) {
            swal({
                title: "Something is wrong",
                text: message,
                icon: "error",
                button: "Ok",
            });
        }
        function Warning(message, callback) {
            swal({
                title: "Are you sure?",
                text: message,
                icon: "warning",
                buttons: true,
                dangerMode: true,
            }).then((willDelete) => {
                if (willDelete) {
                    callback();
                }
            });
        }

        function filter(optionElement) {
            var val = $(optionElement).val()
            if (val === "All courses") {
                location.replace("?filter=all")
            }
            else {
                var value = $("#drop-instructor").find(":selected").data("id")
                location.replace(`?filter=${value}`)
            }
        }
    </script>
{{/section}}