<!-- Nav barrrrrr -->
{{#if User}}
    {{#if (eq User.type 'student')}}
        {{> navbar-student}}
    {{/if}}
    {{#if (eq User.type 'instructor')}}
        {{> navbar-instructor}}
    {{/if}}
    {{#if (eq User.type 'admin')}}
        {{> navbar-admin}}
    {{/if}}
{{else}}
    {{> navbar}}
{{/if}}
<!-- Inner Page Breadcrumb -->
<section class="inner_page_breadcrumb">
    <div class="container">
        <div class="row">
            <div class="col-xl-6 offset-xl-3 text-center">
                <div class="breadcrumb_content">
                    <h4 class="breadcrumb_title">Courses</h4>
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item active" aria-current="page">Result for "{{query}}"
                        </li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="courses-list2 pb40">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="row courses_list_heading style2">
                    <div class="col-xl-4 p0">
                        <div class="instructor_search_result style2">
                            <p class="mt10 fz15"><span class="color-dark pr10"
                                    style="font-weight: bold;">{{courseList.length}}</span> results</p>
                        </div>
                    </div>
                    <div class="col-xl-8 p0">
                        <div class="candidate_revew_select style2 text-right">
                            <ul class="mb0">
                                <li class="list-inline-item">
                                    <select class="selectpicker show-tick" onchange="sort(this)">
                                        <option>Average rating</option>
                                        <option>Price</option>
                                    </select>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="row courses_container style2">
                    {{#each courseList}}
                        <div class="col-lg-12 p0">
                            <div class="courses_list_content">
                                <div class="top_courses list" onclick="getCourse(this)" data-courseid="{{this._id}}">
                                    <div class="thumb"
                                        style="min-width: 240px; max-width: 240px; min-height: 135px; max-height: 135px;">
                                        <img class="img-whp" src="/images/banner/{{this._id}}.jpg" alt="t1.jpg">
                                        {{#unless (eq this.badgeName '')}}
                                            <div class="overlay">
                                                <span class="tag">{{this.badgeName}}</span>
                                                <a class="tc_preview_course" href="#"></a>
                                            </div>
                                        {{/unless}}
                                    </div>
                                    <div class="details" style="width: 100%">
                                        <div class="tc_content">
                                            <p>{{this.instructorID.name}}</p>
                                            <h5>{{this.name}}</h5>
                                            <p>{{this.desc.short}}</p>
                                        </div>
                                        <div class="tc_footer">
                                            <ul class="tc_meta float-left fn-414">
                                                <li class="list-inline-item"><a href="#"><i class="fa fa-user"></i></a>
                                                </li>
                                                <li class="list-inline-item"><a href="#">{{this.enrollCount}}</a>
                                                </li>
                                                <li class="list-inline-item"><a href="#"><i
                                                            class="fa fa-comment"></i></a></li>
                                                <li class="list-inline-item"><a href="#">{{this.feedbackCount}}</a>
                                                </li>
                                                <li class="list-inline-item"><a href="#"><i class="fa fa-star"></i></a>
                                                </li>
                                                <li class="list-inline-item"><a href="#">{{this.averageRate}}</a>
                                                </li>
                                            </ul>
                                            <div class="tc_price float-right fn-414">
                                                ${{calSaleOff this.price this.discount}}
                                                <small style="text-decoration: line-through;">${{this.price}}</small>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {{/each}}
                </div>
                <div class="row">
                    <div class="col-lg-12 mt50">
                        <div class="mbp_pagination">
                            <ul class="page_navigation">
                                <li class="page-item" style="padding-right: 4px;">
                                    <a class="page-link" href="#" tabindex="-1" aria-disabled="true"> <span
                                            class="flaticon-left-arrow"></span> Prev</a>
                                </li>
                                <li class="page-item active" style="padding-left: 4px; padding-right: 4px;">
                                    <a class="page-link" href="#">1</a>
                                </li>
                                <li class="page-item" style="padding-left: 4px; padding-right: 4px;">
                                    <a class="page-link" href="#">2</a>
                                </li>
                                <li class="page-item" style="padding-left: 4px;">
                                    <a class="page-link" href="#">Next <span class="flaticon-right-arrow-1"></span></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{{> footer}}
{{#section "js2"}}
    <script>
        function sort(optionElement) {
            var value = $(optionElement).val()
            if (value === "Average rating")
                location.replace(`?sort=rate`);
            else if (value === "Price")
                location.replace(`?sort=price`);
        }

        function getCourse(element) {
            var value = $(element).data("courseid")
            location.replace("/courses/" + value)
        }
    </script>
{{/section}}`